html {
  position: relative;
  min-height: 100%;
}
body {
  text-align: center;
  margin: 0 auto;
  height: 100%;
}
.main-header {
  padding-bottom: 15%;
  width: 100%;
  background-size: cover;
  background-image: url("../images/header.jpg");
  background-attachment: fixed;
  position: relative;
}

.main-header img {
  width: 13%;
  position: absolute;
  top: 30%;
  transform: translate(-50%);
}

.header {
  background-color: #2B2B2B;
  height: 50px;
  font-size: 1.5rem;
  margin-top: -25px;
}

.top-menu .left {
  float: left;
}

.top-menu .right {
  float: right;
}

.top-menu li {
  list-style: none;
  margin: 10px;
}

.top-menu li a{
  color: #fff;
  text-decoration: none;
}

.top-menu{
  background-color: #000;
}

.about{
  margin-top: 0px;
}

.about h1 {
  font-size: 1.5rem;
}

.about p {
  font-size: 0.8rem;
}

.function {
  background-color: #D3D3D3;
  padding-top: 1px;
  width: 100%;
  position: absolute;
  bottom: 0;
  margin-bottom: 70px;
}

.function-images{
  padding: 0 auto;
 
}

.function-images .function-image{
  /* float: left; */
  margin-left: 10px;
  margin-right: 10px;

  display: inline-block;
  vertical-align: top;
}

.function-images .function-image .big-size{
  height: 80px;
}

.function-images .function-image img{
  width: 80px;
}

.function-images .function-image p{
  font-size: 0.7rem;
}

.clearfix:after{
  clear: both;
  content: "";
  display: block;
}


.footer{
  background-color: #283A4B;
  height: 70px;
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer .copy{
  font-size: 0.8rem;
}